/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2014, 4:19:08 PM
    Author     : Catalin
*/
.power-plant .wrapper {
    width: 332px;
    height: 166px;
    margin-bottom: 5px;    
}

.power-plant input[type="text"] {
	width: 20px;
}

.power-plant .image {
	float: left;
	margin-right: 5px;
}

.plant-card-title {
    font-size: 14px;
}

.plantsMarket {
	position:fixed;
	top:0;
	right:0;
}

.plantsMarket .plant {
	float: left;
	padding: 1px;
}

.plant a, .power-plant a {
	float: left;
}

.plant a:hover, .power-plant a:hover, a.selected {
	box-shadow: 0px 0px 10px 0px black;
}